html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  background-color: lavenderblush;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

.kontejner {
  background-color: #FFFFFF;
  width: 60%;
  margin: auto;


}

header {
  background-color: lavenderblush;
  padding-bottom: 20px
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;

}

.uvod {

  font-size: 20px;
  text-align: center;

}

.uvodniOdstavec {

  text-align: center;
  display: block;


}

.odstavecPopis {
  display: inline-block;
  float: left;

}


.obrazkyHome {

  width: 32%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;

}

section {

  padding: 60px;
  overflow: auto;

}



.losos,
.melancholie {
  float: left;
  width: 250px;
  padding-right: 30px;

}

.kureciSekce {
  text-align: right;

}

.kureci {

  float: right;
  width: 250px;
  padding-left: 30px;

}




footer {
  padding: 50px;
  text-align: center;
  background-color: lavenderblush;
  font-size: 0.8rem;
}
