html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  background-color: lavenderblush;
}

.kontejner {
  background-color: #FFFFFF;

}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}
